.Duploader {
    background-color: #000;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    z-index: 500;
    position: absolute;
    left: 0;
    top:0;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity:0.5;
    opacity: 0.5;
}

.hidden{
    display: none;
}

.Duploader .operation{
    background-color: #FFFFFF;
    position: absolute;
    width: 400px;
    height: 300px;
}

.Duploader .file-list{
    position: relative;

}

